<aside id="custom_html-3" class="widget_text widget widget_custom_html">
    <span class="widget-title ">
        <span>Tỉnh/Thành</span>
    </span>
    <div class="is-divider small"></div>
    <div class="textwidget custom-html-widget">
        <ul class="menu">
            @Html.Raw(ViewBag.TinhThanh)
        </ul>
    </div>
</aside>
<div style=" clear:both"></div>