/*============================================================================#Typography variables==============================================================================*/
/*============================================================================#Mixin==============================================================================*/
/*============================================================================#Variable==============================================================================*/
/*Update*/
footer .footer-info-widget p.hotline a {
  color: #fff; }

.product-box .sale-flash {
  background-color: #898989; }

.product-box .sale-flash:before {
  border-top: 10px solid #898989; }

.blog-item .date {
  background: #f02b2b; }

.off-canvas-menu .action .btn-primary.btn-50:last-child {
  background: #2bf525; }

.details-product form button.btn-primary2 {
  background: #2bf525; }

.view-desktop a.btn.btn-primary.btn-full {
  background: #ef7d00; }
